/* Dashboard.css */

/* Style for the overall layout */
.dashboard-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
  }
  
  /* Style for the Navbar */
  .dashboard-navbar {
    margin-bottom: 10px;
  }
  
  /* Style for the sidebar */
  .sidebar-container {
    height: 940px;
    margin-left: 10px;
    width: 14%;
    background-color: #635c5b;
  }
  
  /* Style for the content area */
  .content-container {
    height: 940px;
    margin-left: 10px;
    width: 80%;
  }
  
  /* Flex for layout between Sidebar and content */
  .dashboard-flex-container {
    display: flex;
  }
  